## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Upernavik,GL,72.7868,-56.1549,39.94,97,100,10.40,light rain
1,1,Ushuaia,AR,-54.8000,-68.3000,38.86,60,75,12.66,broken clouds
2,2,Nanortalik,GL,60.1432,-45.2371,39.06,91,36,8.63,scattered clouds
3,3,Iracoubo,GF,5.4802,-53.2011,76.03,88,29,5.44,moderate rain
4,4,Longyearbyen,SJ,78.2186,15.6401,44.44,81,75,3.44,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Iracoubo,GF,5.4802,-53.2011,76.03,88,29,5.44,moderate rain
5,5,Arzgir,RU,45.3728,44.2206,83.57,43,37,8.12,scattered clouds
6,6,Luba,GQ,3.4568,8.5547,75.09,90,100,4.99,light rain
7,7,Tecoanapa,MX,16.5167,-98.7500,79.52,84,100,2.73,overcast clouds
9,9,Vaini,TO,-21.2000,-175.2000,75.36,78,20,13.80,few clouds
15,15,Hilo,US,19.7297,-155.0900,80.33,85,40,6.91,scattered clouds
16,16,Butaritari,KI,3.0707,172.7902,82.04,64,100,12.44,overcast clouds
18,18,Terrace,CA,54.5163,-128.6035,75.11,56,20,5.75,few clouds
21,21,Dharan,NP,26.8125,87.2835,88.74,63,37,3.78,scattered clouds
24,24,Cockburn Town,TC,21.4612,-71.1419,82.71,76,57,15.95,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                269
City                   269
Country                269
Lat                    269
Lng                    269
Max Temp               269
Humidity               269
Cloudiness             269
Wind Speed             269
Current Description    269
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Iracoubo,GF,76.03,moderate rain,5.4802,-53.2011,
5,Arzgir,RU,83.57,scattered clouds,45.3728,44.2206,
6,Luba,GQ,75.09,light rain,3.4568,8.5547,
7,Tecoanapa,MX,79.52,overcast clouds,16.5167,-98.7500,
9,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,
15,Hilo,US,80.33,scattered clouds,19.7297,-155.0900,
16,Butaritari,KI,82.04,overcast clouds,3.0707,172.7902,
18,Terrace,CA,75.11,few clouds,54.5163,-128.6035,
21,Dharan,NP,88.74,scattered clouds,26.8125,87.2835,
24,Cockburn Town,TC,82.71,broken clouds,21.4612,-71.1419,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError, NameError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Iracoubo,GF,76.03,moderate rain,5.4802,-53.2011,Le Gîte d’Iracoubo
5,Arzgir,RU,83.57,scattered clouds,45.3728,44.2206,
6,Luba,GQ,75.09,light rain,3.4568,8.5547,
7,Tecoanapa,MX,79.52,overcast clouds,16.5167,-98.7500,Hotel Manglares
9,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
15,Hilo,US,80.33,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
16,Butaritari,KI,82.04,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
18,Terrace,CA,75.11,few clouds,54.5163,-128.6035,Northern Motor Inn
21,Dharan,NP,88.74,scattered clouds,26.8125,87.2835,Hotel Kanchanjunga
24,Cockburn Town,TC,82.71,broken clouds,21.4612,-71.1419,Osprey Beach Hotel

In [23]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'])
clean_hotel_df.count()

City                   269
Country                269
Max Temp               269
Current Description    269
Lat                    269
Lng                    269
Hotel Name             269
dtype: int64

In [24]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Iracoubo,GF,76.03,moderate rain,5.4802,-53.2011,Le Gîte d’Iracoubo
5,Arzgir,RU,83.57,scattered clouds,45.3728,44.2206,
6,Luba,GQ,75.09,light rain,3.4568,8.5547,
7,Tecoanapa,MX,79.52,overcast clouds,16.5167,-98.7500,Hotel Manglares
9,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
770,Tahta,EG,81.21,clear sky,26.7693,31.5021,فندق الزيات
775,Victoria,HK,89.96,overcast clouds,22.2855,114.1577,Mini Central
779,Bengkulu,ID,85.91,scattered clouds,-3.8004,102.2655,Grage Hotel Bengkulu
784,Agadez,NE,83.55,clear sky,19.7500,10.2500,
787,Safaga,EG,88.30,clear sky,26.7292,33.9365,Lamar Resort Abu Soma

In [32]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv" 
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))